{% paginate blog.articles by 3 %}
  {% for article in blog.articles %}
    <div>
      {% if article.image %}
        <img
          src="{{ article | image_url: width: 240 }}"
          alt="{{ article.image.alt }}"
          width="auto"
          height="auto"
        >
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'w-20' }}
      {% endif %}
      <h2>{{ article.title }}</h2>

      {% if article.excerpt.size > 0 %}
      {% else %}
        <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
      {% endif %}
    </div>
  {% endfor %}
{% endpaginate %}
