{% paginate blog.articles by section.settings.number_of_blog_posts %}
  {% for article in blog.articles %}
    <div>
      {% if article.image %}
        <img
          src="{{ article | image_url: width: 240 }}"
          alt="{{ article.image.alt }}"
          width="auto"
          height="auto"
        >
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'w-20' }}
      {% endif %}
      <h2>{{ article.title }}</h2>

      {% if section.settings.show_description %}
        {% if article.excerpt.size > 0 %}
        {% else %}
          <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
        {% endif %}
      {% endif %}
    </div>
  {% endfor %}
{% endpaginate %}

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "range",
      "id": "number_of_blog_posts",
      "label": "Number of blog posts per page",
      "step": 1,
      "min": 1,
      "max": 6,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": true
    }
  ]
}
{% endschema %}
